.slick-prev:before,
.slick-next:before {
  color: black;
}
.popup-trigger {
  height: 129px;
  width: 80px;
}

.insta-story-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 22%;
}

.story-box {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  background-image: linear-gradient(90deg, #e20337, #c60188, #7700c3, #fca103);
}
@media all and (max-width: 512px) {
  .story-box {
    height: 56px;
    width: 56px;
    border-radius: 27px;
  }
}

.insta-story-image {
  height: 78px;
  width: 78px;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  border-radius: 38px;
  cursor: pointer;
}
@media all and (max-width: 512px) {
  .insta-story-image {
    height: 55px;
    width: 55px;
    border-radius: 27px;
  }
}

.insta-story-para {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  cursor: pointer;
}
@media all and (max-width: 512px) {
  .insta-story-para {
    font-size: 12px;
    margin-right: 2px;
  }
}

.sliderContainer {
  width: 100%;
  margin: 15px;
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.slide {
  transform: scale(0.5);
  transition: transform 530ms;
  opacity: 0.5;
}

.active-slide {
  opacity: 1;
  transform: scale(1.3);
}
.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  background-color: #afa9a9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.arrow svg {
  transition: color 300ms;
}
.arrow svg:hover {
  color: rgba(169, 209, 255, 0.726);
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
.popup-story-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
}
@media all and (max-width: 768px) {
  .popup-story-heading {
    font-size: 12px;
  }
}
.popup-story-author-profile {
  height: 32px;
  width: 32px;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 16px;
}

.popup-content {
  width: 100%;
  height: 100vh;
  max-width: 1400px;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-overlay {
  background: #1a1a1a;
}
@media all and (max-width: 992px) {
  .popup-content {
    width: 100%;
  }
}

.story-popup-bg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.story-popup-close-button {
  background-color: transparent;
  height: 35px;
  width: 35px;
  margin-bottom: 6px;
  border: none;
  outline: none;
  align-self: flex-end;
  cursor: pointer;
}
