.home-route {
  width: 100vw;
  height: auto;
  position: absolute;
}

.home-body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.stories-loader-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  height: 194px;
}

@media all and (max-width: 512px) {
  .stories-loader-container {
    padding-top: 64px;
  }
}

.home-user-posts-list-el {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: content-box;
  height: auto;
}

.search-not-found-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-not-found-image {
  height: 100%;
  width: 100%;
  max-height: 409px;
  max-width: 500px;
}

@media all and (max-width: 768px) {
  .search-not-found-image {
    max-height: 310px;
    max-width: 340px;
    height: 100%;
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  .search-not-found-image {
    max-height: 210px;
    max-width: 258px;
    height: 100%;
    width: 100%;
  }
}
.search-not-found-heading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  color: #262626;
}
.search-not-found-description {
  font-family: Roboto;
  font-size: 20px;
  margin-top: -8px;
  color: #989898;
}

@media all and (max-width: 768px) {
  .search-not-found-heading {
    font-size: 24px;
  }
  .search-not-found-description {
    font-size: 18px;
  }
}

@media all and (max-width: 380px) {
  .search-not-found-heading {
    font-size: 20px;
  }
  .search-not-found-description {
    font-size: 15px;
  }
}

.home-failure-view-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-failure-view-image {
  height: 100%;
  width: 100%;
  max-height: 54px;
  max-width: 54px;
}
.home-failure-view-heading {
  font-family: Roboto;
  font-size: 28px;
  color: #262626;
}

.home-failure-view-button {
  height: 40px;
  width: 110px;
  background: #4094ef;
  border-radius: 12px;
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .home-failure-view-heading {
    font-size: 22px;
  }
}

@media all and (max-width: 490px) {
  .home-failure-view-heading {
    font-size: 16px;
  }
  .home-failure-view-button {
    height: 32px;
    width: 102px;
    border-radius: 8px;
    font-size: 12px;
  }
}
