.header-nav-container {
  width: 100vw;
  bottom: 20;
  height: 64px;
  position: fixed;
}

.header-content-container {
  width: 80%;
  max-width: 1100px;
  background-color: #ffffff;
  max-width: 1100px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-website-logo-link-item {
  height: 30px;
  width: 173px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
@media all and (max-width: 380px) {
  .header-website-logo-link-item {
    height: 20px;
    width: 36px;
    margin-right: 22px;
  }
}

.header-website-logo {
  height: 34.14px;
  width: 59px;
  margin-right: 12px;
}
@media all and (max-width: 380px) {
  .header-website-logo {
    height: 28px;
    width: 55px;
  }
}

.header-heading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  color: #262626;
  min-width: 108px;
}
@media all and (max-width: 380px) {
  .header-heading {
    font-size: 16px;
    min-width: 92px;
  }
}

.lg-nav-menu {
  display: flex;
  align-items: center;
}
@media all and (max-width: 780px) {
  .lg-nav-menu {
    display: none;
  }
}

.sm-nav-menu {
  width: 80%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
@media all and (min-width: 780px) {
  .sm-nav-menu {
    display: none;
  }
}
@media all and (max-width: 512px) {
  .sm-nav-menu {
    display: none;
  }
}

.very-sm-nav-menu {
  display: flex;
  width: 100%;
  margin-top: -18px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 512px) {
  .very-sm-nav-menu {
    display: none;
  }
}

.sm-nav-items {
  display: flex;
  align-items: center;
}
@media all and (max-width: 512px) {
  .sm-nav-items {
    margin: auto;
  }
}

.header-search-container {
  display: flex;
  width: 214px;
  height: 28px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 32px;
}
@media all and (max-width: 992px) {
  .header-search-container {
    margin-right: 18px;
  }
}
@media all and (max-width: 814px) {
  .header-search-container {
    margin-left: 10px;
  }
}
@media all and (max-width: 544px) {
  .header-search-container {
    width: 195px;
  }
}
@media all and (max-width: 512px) {
  .header-search-container {
    margin-top: 4px;
    width: 214px;
  }
}

.header-input-el {
  width: 179px;
  height: 28px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  outline: none;
  padding: 7px;
}
@media all and (max-width: 544px) {
  .header-input-el {
    width: 160px;
  }
}
@media all and (max-width: 512px) {
  .header-input-el {
    width: 179px;
  }
}

.header-search-icon-button {
  border: none;
  background-color: transparent;
  width: 34px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.header-link-item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  margin-right: 16px;
  margin-left: 10px;
  color: #262626;
}

.header-link-item:hover {
  text-decoration: underline #409ef4 2px;
  color: #4094ef;
}

@media all and (max-width: 814px) {
  .header-link-item {
    margin-right: 10px;
  }
}

@media all and (max-width: 380px) {
  .header-link-item {
    font-size: 14px;
  }
}

.selected-header-nav-link-item {
  color: #4094ef;
}

.header-button-el {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-custom-button {
  background: #4094ef;
  border-radius: 4px;
  height: 32px;
  width: 86px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

@media all and (max-width: 380px) {
  .header-custom-button {
    width: 38px;
    height: 16px;
  }
}

.bar-icon {
  height: 24px;
  width: 24px;
  color: #231f20;
  cursor: pointer;
}

@media all and (min-width: 780px) {
  .bar-icon {
    display: none;
  }
}
